{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <section style="margin: 65px">
        <div class="container py-5">
            <h2 class="text-center w3-bar w3-white w3-wide w3-padding">My Account</h2>
            <div class="card" style="border-radius: 2em; border: 1px solid #212529; background-color: #DDDDDD">
                <div class="card-body" style="border-radius: 2em; padding-top:40px" >
                    <div class="row d-flex justify-content-center align-items-center h-100"  >
                        <div class="col-lg-4">
                            <div class="card mb-4" style="border-radius: 2em; border: 1px solid #212529;" >
                                <div class="card-body text-center" >
                                    <img src="{{ asset('upload/accountImages/' ~ accounts.image) }}" style="width: 150px;">
                                    <h5 class="my-3">{{ accounts.name }}</h5>
                                    <p class="text-muted mb-4">{{ accounts.email}}</p>
                                    <a class="btn btn-outline-dark float-right" href="{{ path('app_account_edit', {'id': accounts.id}) }}" style="border-radius: 2em"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="card mb-4"style="border-radius: 2em;border: 1px solid #212529">
                                <div class="card-body" >
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Full Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ accounts.name }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{  accounts.email }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Phone</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ accounts.phone }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Hobby</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ accounts.hobby }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Address</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ accounts.address }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
